* {
    box-sizing: border-box;
  }

  .experience-text{
    text-align:center;
  }

  body {
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    padding:0;
    margin:0;
  }
  img{
    width:100%;
    height: auto;
  }
  footer {
    padding:  0;
    background-color: #aaa;
  }
  
  .myButton {
    background-color: rgb(132, 177, 192);
    font-size: 14px;
    border-radius: 6px;
    padding: 5px;
    color:rgb(83, 81, 81);
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .myButton:hover {
      background-color: rgb(116, 198, 209);  
  }
  
  #myForm {
  
    margin-top: 0;
    
  }
  
  input[type=text] {
    width: 400px;
    height: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(218, 236, 243);
  }
  
  #top {
    width: 100%;
    overflow: hidden;
    background-color: rgb(132, 177, 192); 
  }
  
  #top #myLinks {
    display: none;
  }
  
  #slide {
    display: none;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  #show ul{
    list-style-type: circle;
  }

  #top a {
  
    color:rgb(83, 81, 81);
    font-family:Arial, Helvetica, sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  
  .fa {
    
    padding-top: 8px;
    padding-right: 30px;
    font-size: 8px;
    width: 14px;
    float: right;
    text-decoration: none;
    
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.8;
  }
  
  
  section {
    
    padding: 20px;
    height: 500px;
    width: 100%;
    
  }
  
  header {
    
    width: 100%;
    padding: 10% 0;
    margin-top : 50px;
 
  }
  
  h1 {
  
    font-size: 16px;
  }
  
  p {
    font-size: 16px;
  }
  
  #footer {
    font-weight: bold;
    font-size: 12px;
  }
  main{
    padding:10px;
  }
  
  h4 {
    text-align: center;
    
  }

  .fa{
    float:none;
  }

  
  @media only screen and (min-width: 441px) {
    main{
      z-index: 1;
      width:calc(100vw - 220px);
    }
    #slide {
      height: 100%; 
      width: 220px;
      position: fixed;
      display:block;
      z-index: 5; 
      top: 0;
      left: 0;
      background-color: rgb(132, 177, 192); 
      overflow-x: hidden; 
      padding-top: 60px;
    }
    #slide ul{
      padding-left:25px;
    }
    

     #top {
      display: none;
    } 
  
    ul#slide {
      
      list-style-type: none;
      margin: 0;
      padding: 0;
    
    }
  
    li {
      display : table-row;
      vertical-align: middle;
      text-align: left;
      
    }
  
    a {
      color:rgb(83, 81, 81);
      padding: 8px;
      text-decoration: none;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  
    a:hover {
      color: rgb(197, 195, 195);
    }
  
    section {
      margin-left: 220px;
      padding: 20px;
      min-height: 700px;
      
    }
  
    header {
      
      margin-left:220px;
      padding: 2% 0;
    }
  
    h1 {
  
      font-size: 14px;
    }
  
    h3 {
  
    font-size: 18px;
    padding: 0px;
    margin: 0;
    }
  
    h5 {
      font-size: 12px;
      padding: 0px;
      margin: 0;
    }
  
    p {
      font-size: 16px;
      
    }
  
    .mypic {
    
    height: 150px;
    width: 150px;
  
    }
  
    #footer {
      margin-left: 220px;
      font-weight: bold;
      font-size: 12px;
    }

    ul#topLinks {
      display: inline-block;
    }
    
  }
  
